body {
    background: linear-gradient(135deg, #89cff0, #5ac8fa); /* Від світло-блакитного до яскраво-блакитного */
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.developer-card {
    background-color: blanchedalmond;
    padding: 40px 5px;
    border-radius: 20px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0,15);
    animation: float-animation 4s ease-in-out infinite;
}
.developer-card h1 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 5px;
}
.developer-card p {
    color: #666;
    font-size: 1em;
    margin-bottom: 25px;
    background: linear-gradient(to right, #ccc, #666, #ccc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.contact-button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.contact-button {
    background-color: #55acee;
    box-shadow: 0 5px 15px rgba(74, 144, 226, 0.4);
    transform: translateY(-1px);
}
@keyframes float-animation {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-15px) rotate(0.5deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}
